/* navigation */
header{
    background-color:#2daae0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
}

.photo img{
    width: 175px;
    height: 175px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin: 10px 60px;
}

.name{
    border-radius: 50px;
    text-align: center;
    background-color: white;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: auto;
    margin: 20px 10px;
}

nav ul{
    padding-left: 0;
}

nav li{
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #2daae0;
}

/* corps */
main{
    margin-left: 300px;
    padding: 20px;
}

section{
    margin: 0 10% 40px 10%;
}

h2 {
    color: #2daae0;
}

.separator {
    width: 100%;
    height: 4px;
    background-color: #2daae0;
    margin: 10px 0 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: justify;
}

/* à propos */

/* ermitage / BTS */

/* compétences */
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: rgb(197, 193, 193);
    border-bottom: 1px ridge rgb(197, 193, 193);
}
.barre{
    display: block;
    height: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card{
    margin-top: 20px;
}

.c80{
    width: 80%;
    background-color: #2daae0;
}

.c70{
    width: 70%;
    background-color: #2daae0;
}

.c60{
    width: 60%;
    background-color: #2daae0;
}

/* projets */

/* veilles */

/* contact */